.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

.avatar {
  width: 10em;
  height: auto;
}

.highlight {
  background: #FFDC00;
  transition: opacity 500 ease-in-out;
}

.video-time {
  padding: 0 4px;
  font-weight: bold;
  font-size: 11px;
  background-color: #000;
  color: #fff!important;
  height: 14px;
  line-height: 14px;
  opacity: .75;
  filter: alpha(opacity=75);
  display: -moz-inline-stack;
  vertical-align: top;
  zoom: 1;
  display: inline-block;
  position: absolute;
  right: 1.4em;
  bottom: 7.5em;
  margin-top: 0;
  margin-right: 0;
}

#searchSub {
  width: 90%;
}

@media (max-width: 580px) {
  #searchSub {
    width: 80%;
  }
}

.glyphicon-remove {
  cursor: pointer;
}
