extends ../layout

block content
  .row
    .col-md-6.col-md-offset-3
      h1.text-center Forgot your password?
      br
      form(role="form" method="post")
        input(type="hidden" name="_csrf" value=_csrf)
        .form-group
          label Email
          input.form-control(type="email" name="email" autofocus=true placeholder="Your email address" required)
        .form-group
          button.btn.btn-primary.center-block(type="submit") Reset Password
