extends ../layout

block content
  .row
    .col-md-6.col-md-offset-3
      h1.text-center Login
      br
      form(role="form" method="post")
        input(type="hidden" name="_csrf" value=_csrf)
        .form-group
          label Username
          input.form-control(type="text" name="username" autofocus=true required)
        .form-group
          label Password
          input.form-control(type="password" name="password" required)
        .form-group.clearfix
          .checkbox
            label.pull-left
              input(type="checkbox" name="remember")
              | Keep me logged in
          a.pull-right(href="/forgot_password") Forgot your password?
        br
        .form-group
          button.btn.btn-primary.center-block(type="submit") Login
      .text-center
        p.text-muted
          | Don't have an account? 
          a(href="/signup") Sign up
