extends layout

block content
  .text-center
    h1 About
    p.
      This site is created by #[a(href="https://github.com/creaturephil" target="_blank") Philip La].
      If you would like to contribute, check out the Usub's #[a(href="https://github.com/Creaturephil/Usub") Github] or #[a(href="https://trello.com/b/sGbpfDLh/usub") Trello] page.
