extends layout

block content
  .text-center
    h1 About
    p 
      | This site is created by 
      a(href="https://github.com/creaturephil" target="_blank") Philip La
      | . If you would like to contribute, check out the site 
      a(href="https://github.com/creaturephil/usub") Github 
      | page.
