extends layout

block content
  .jumbotron.text-center
    h1 Usub, simplicity and reliability!
    p YouTube subscription feed that displays your subscriptions in a grid.
    p Usub is more reliable than YouTube's subscription box because Usub doesn't filter subscriptions and works all the time so you will never miss your favorite Youtuber's videos!
    a.btn.btn-lg.btn-primary(href="/signup") Sign up
  #features
    .row.text-center
      h1 Grid-like YouTube Subscription Feed
      h4.text-muted Display your YouTube subscription feed as a grid for easier visibility.
      img.img-responsive(src="/dashboard.png" alt="Dashboard Feed")
      hr
    .row.text-center
      h1 Manage your YouTube Subscriptions
      h4.text-muted Add or remove your Youtube channel subscriptions.
      img.img-responsive(src="/subscriptions.png" alt="Manage Subscriptions")
      hr
    .row.text-center
      h1 View Youtube channels individually.
      h4.text-muted See the most recent videos posted by that YouTube channel.
      img.img-responsive(src="/channel.png" alt="YouTube Channel")
      hr
    .container-fluid.row.text-center
      h1 What are your waiting for?
      a.btn.btn-lg.btn-primary(href="/signup") Sign up today!
      br
